<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">

  <title>Tibero Online Judge</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" action="/login" method = "post">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">TIBERO Online Judge</h1>
  </br>
    <label for="userid" class="sr-only">ID</label>
    <input type="text" id="userid" name = "userid" class="form-control" placeholder="ID" required autofocus>
    <label for="userpw" class="sr-only">PW</label>
    <input type="password" id="userpw" name = "userpw" class="form-control" placeholder="Password" required>
  </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#2196f3; border-color:#2196f3;">로그인</button>
  </br></br>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 Database Project</p>
  </form>
</body>

</html>
