<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Navbar Sidebar - Fixed to Left or Right</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="navbar-fixed-right.min.css">
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <link rel="stylesheet" href="/stylesheets/docs.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/start">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem"><strong>문제 만들기</strong></a></li>
              <li><a href="/viewProblem">문제 보기</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">대회 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest">참가한 대회</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="/rival">라이벌</a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron">
      <h3>
        <div align="center">문제 만들기</div>
      </h3>
      </br>
      <form class="form-horizontal" action="/makeProblem" method="post">
        <div class="form-group">
          <label for="problemName" class="col-sm-2 control-label">문제 이름</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="problemName" name="problemName" placeholder="문제 이름을 입력해주세요.">
          </div>
        </div>
        </br>
        <div class="form-group">
          <label for="problemContent" class="col-sm-2 control-label">문제 설명</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="10" id="problemContent" name="problemContent" placeholder="문제에 대한 설명을 적어주세요."></textarea>
          </div>
        </div>
        </br>
        <div class="form-group">
          <label for="problemSampleInput" class="col-sm-2 control-label">예시 입력</label>
          <div class="col-sm-4">
            <textarea class="form-control" rows="5" id="problemSampleInput" name="problemSampleInput" placeholder="테스트케이스 예시 입력을 적어주세요."></textarea>
          </div>
          <label for="problemSampleOutput" class="col-sm-2 control-label">예시 출력</label>
          <div class="col-sm-4">
            <textarea class="form-control" rows="5" id="problemSampleOutput" name="problemSampleOutput" placeholder="테스트케이스 예시 입력에 대한 정답을 작성해 주세요."></textarea>
          </div>
        </div>
        </br>
        <div class="form-group">
          <label for="problemInput" class="col-sm-2 control-label">테스트케이스 입력</label>
          <div class="col-sm-4">
            <textarea class="form-control" rows="7" id="problemInput" name="problemInput" placeholder="실제 채점될 테스트케이스 입력을 적어주세요."></textarea>
          </div>
          <label for="problemOutput" class="col-sm-2 control-label">테스트케이스 출력</label>
          <div class="col-sm-4">
            <textarea class="form-control" rows="7" id="problemOutput" name="problemOutput" placeholder="실제 테스트케이스 입력에 대한 정답을 작성해 주세요."></textarea>
          </div>
        </div>
        </br>
        <div class="form-group">
          <label for="timeLimit" class="col-sm-2 control-label">시간 제한(s)</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="timeLimit" name="timeLimit" placeholder="초(s) 단위로 적어주세요.">
          </div>
          <label for="memoryLimit" class="col-sm-2 control-label">메모리 제한(MB)</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="memoryLimit" name="memoryLimit" placeholder="메가바이트(MB) 단위로 적어주세요.">
          </div>
        </div>
        </br>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-default pull-right">문제 만들기</button>
          </div>
        </div>
      </form>
    </div>

    <footer>
      <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
    </footer>

  </div>

</body>

</html>
