<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/TOJ.png">
  <title>Tibero Online Judge</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="navbar-fixed-right.min.css">
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <link rel="stylesheet" href="/stylesheets/docs.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem">문제 만들기</a></li>
              <li><a href="/viewProblem">문제 보기</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>대회</strong> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest"><strong>참가한 대회</strong></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="/rival">라이벌</a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron" align="center">
      <h3>
        참가한 대회
      </h3>
      </br>
      <table class="table table-hover">
         <thead>
            <th>#</th>
            <th>대회 이름</th>
            <th>시작 시각</th>
            <th>종료 시각</th>
            <th>참가 인원</th>
            <th>개최자</th>
         </thead>
         <tr class='clickable-row' data-href='https://naver.com'>
            <td>1</td>
            <td>우재의 DP 파티</td>
            <td>2018-06-14 오후 3:00</td>
            <td>2018-06-14 오후 5:00</td>
            <td>3</td>
            <td>김우재</td>
         </tr>
         <tr>
           <td>2</td>
           <td>세준이의 메가버닝</td>
           <td>2018-06-14 오후 7:00</td>
           <td>2018-06-22 오후 7:00</td>
           <td>1</td>
           <td>오세준</td>
         </tr>
         <tr>
           <td>3</td>
           <td>민규의 알분 기말고사</td>
           <td>2018-06-19 오후 1:00</td>
           <td>2018-06-19 오후 3:00</td>
           <td>70</td>
           <td>김민규</td>
         </tr>
      </table>
    </div>

    <footer>
      <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
    </footer>

  </div>

</body>

</html>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
