<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Navbar Sidebar - Fixed to Left or Right</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/start">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem">문제 만들기</a></li>
              <li><a href="/viewProblem">문제 보기</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">대회 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest">참가한 대회</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="#">라이벌</a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron">
      <h2>
      오세준 님, </br>TIBERO Online Judge에 오신 것을 환영합니다!
      </h2>
      <p>
        </br>
        <strong>TIBERO Online Judge는 2018-1 경희대학교 컴퓨터공학과 데이터베이스 수업의 Term-Project로 개발되었습니다.</strong>
        </br>
        </br>
        <strong>TIBERO Online Judge에 사용된 기술 스택은 아래와 같습니다.</strong>
      </br><li>Web Server : Node.js 8.11.2 LTS</li>
      </br><li>Web Front-End : HTML 5 / CSS 3 / Javascr ipt</li>
        </br><li>Database : Tibero 6</li>
        </br><li>Judge Server : JDoodle online judge API</li>
      </p>
        </br>
        </br>
      </br><p><strong> TIBERO Online Judge는 완전한 Open-Source이며 코드를 열람하시고 싶으시면 아래 Repository를 방문해 주세요! </strong></p>
        <a class="github-button" href="http://khuhub.khu.ac.kr/2016104114/Database_Tibero" data-icon="octicon-star" data-style="mega" data-count-href="/mladenplavsic/bootstrap-navbar-sidebar/stargazers" data-count-api="/repos/mladenplavsic/bootstrap-navbar-sidebar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mladenplavsic/bootstrap-navbar-sidebar on GitHub">Star</a>
        <a class="github-button" href="http://khuhub.khu.ac.kr/2016104114/Database_Tibero/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/mladenplavsic/bootstrap-navbar-sidebar/network" aria-label="Fork mladenplavsic/bootstrap-navbar-sidebar on GitHub">Fork</a>
        <a class="github-button" href="https://khuhub.khu.ac.kr/u/2016104114" data-size="large" aria-label="Follow @Woo Jae Kim on KHU-Hub">Follow @WJKIM</a>
    </div>

    <footer>
      <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
    </footer>

  </div>

</body>

</html>
